*{
    font-family: "Comic Sans MS", "Comic Sans", cursive;;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
#container{
    position: relative;
    margin: 30px;
}

header{
    width: 100%;
    height: 350px;
    background-image: url(./assets/Images/design1_image1.jpg);
    background-size: cover;
    position: relative;
    font-size: 25px;
}


h2{
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    position: absolute;
    text-align: center;
    padding: 5px;
    bottom: 0;
    font-size: 30px;
}

.logo{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 230px;
    left: 75%;
}

nav{
    width: 10%;
    height: 200px;
    position: absolute;
    left: 5px;
    margin-top: 60px;
    
}

section{
    position: absolute;
    left: 300px;
    font-size: 25px;
    margin-top: 60px;
}

a{
    display: inline-block;
    padding: 20px;
    font-size: 20px;
}

article{
    padding: 5px;
}

.article{
    position: absolute;
    left: 280px;
    font-size: 25px;
    margin-top: 60px;
}

