* {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: black;
}

#container-flex {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

body{
    overflow-x: hidden
}

main {
    width: 100%;
}

header {
    width: 100%;
    border-radius: 5px;
}

h1 {
    font-size: 50px;
    color: black;
    background-image: linear-gradient(#FBDD26, white);
    border: 3px solid #FBDD26;
    border-radius: 5px;
    padding: 5px 30px;
    text-align: center;
    max-width: 70%;
    display: flex;
    justify-content: center;
    margin: 0px 15% 50px;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    width: 170px;
    height: 170px;
    background-color: azure;
    border: 5px solid #FBDD26;
    border-radius: 4px;
}

nav {
    width: 70%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
}

.button {
    display: inline-block;
    padding: 8px;
    margin: 5px;
    font-size: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #D63B31;
    text-decoration: none;
}

.button:hover{
    color: #FBDD26;
    background-color: #436197;
    border: 2px solid white;
    font-size: 23px;
}

h2 {
    width: 100%;
    height: 100px;
    color: black;
    background-image: linear-gradient(white, #FBDD26);
    border: 3px double black;
    border-radius: 6px;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.banner {
    width: 100%;
    height: 550px;
    border-radius: 7px;
}

.section {
    width: 90%;
    font-size: 18px;
    margin: 50px;
    color: #FBDD26;
    border: 2px solid #FBDD26;
    border-radius: 4px;
    padding: 30px;
}

article {
    padding: 5px;
}

.article {
    width: 70%;
    font-size: 35px;
    margin: 60px;
    color: #FBDD26;
    border: 2px solid #FBDD26;
    border-radius: 4px;
    padding: 30px;
}

.circle {
    list-style-type: circle;
}

.game {
    text-decoration: underline;
}

.information {
    padding: 5px;
    line-height: 50px;
}

#select {
    background-color: #FBDD26;
    color: black;
}

footer {
    width: 100%;
    height: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    color: azure;
}

table,
th,
td {
    margin: 50px;
    table-layout: fixed;
    width: 90%;
    border-collapse: collapse;
    border: 3px solid #FBDD26;
}

th,
td {
    padding: 5px;
    text-align: center;
}

li {
    padding: 5px;
}

input, select{
    color: #FBDD26;
}

.gallery{
    width: 90%;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 3px solid #FBDD26;
    color: #FBDD26;
    border-radius: 4px;
    padding: 30px;
    margin: 50px;
}

.gallery >section{
    display: flex;
    width: 80%;
    height: 200px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    
}

section>img{
    width: 170px;
    height: 170px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
section>img:hover{
    cursor: crosshair;
    width: 250px;
    height: 250px;
    opacity: 1;
    filter: contrast(120%);
}
.gallery>h3{
    margin: 20px;
    display: block;
}