*{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: black;
}
#container-flex{
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
}

header{
    width: 100%;
    border-radius: 5px;
}

h1{
    font-size: 50px;
    color: #FBDD26;
    border: 2px dashed #FBDD26;
    border-radius: 5px;
    padding: 5px 30px;
    text-align: center;
    max-width: 70%;
    display: flex;
    justify-content: center;
    margin: 0px 15% 50px;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo{
    width: 170px;
    height: 170px;
    background-color: azure;
    border: 5px solid #FBDD26;
    border-radius: 4px;
}

nav{
    width: 70%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    }

    h2{
        width: 100%;
        height: 100px;
        color: #FBDD26;
        border: 3px dotted #FBDD26;
        border-radius: 6px;
        text-align: center;
        padding: 10px;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .banner{
        width: 100%;
        height: 550px;
        border-radius: 7px;
    }

.section{
    width: 90%;
    font-size: 18px;
    margin: 50px;
    color: #FBDD26;
    border: 2px solid #FBDD26;
    border-radius: 4px;
    padding: 30px;
}

.button{
    display: inline-block;
    padding: 8px;
    margin: 5px;
    font-size: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #D63B31;
    text-decoration: none;
}

article{
    padding: 5px;
}

.article{
    width: 70%;
    font-size: 35px;
    margin: 60px;
    color: #FBDD26;
    border: 2px solid #FBDD26;
    border-radius: 4px;
    padding: 30px;
}

.circle{
    list-style-type: circle;
}

.game{
    text-decoration: underline;
}

.information{
    padding: 5px;
    line-height: 50px;
}

#select{
    background-color: #FBDD26;
    color: black;
}
footer{
    width: 100%;
    height: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    color: azure;
}

table,th,td{
    margin: 50px;
    table-layout: fixed;
    width: 90%;
    border-collapse: collapse;
    border: 3px solid #FBDD26;
}

th,td{
    padding: 5px;
    text-align: center;
}

li{
    padding: 5px;
}